<table class="grid">
<tr><td><b>Publication Date</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>
<tr><td><a href="20220221-132304-CodeSystem-zuppl-elga-auditsourcetype-4-elga-auditsourcetype.html">2022-02-21 13:23:04</a></td><td><a onclick="createDiff('CodeSystem-zuppl-elga-auditsourcetype-4-elga-auditsourcetype.html', '20220221-132304-CodeSystem-zuppl-elga-auditsourcetype-4-elga-auditsourcetype.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>