<table class="grid">
<tr><td><a href="https://gitlab.com/elga-gmbh/termgit/-/raw/13b4a122e06846546461acf2edf6dead658f359c/terminologies/ValueSet-dgc-medicinalproduct/CodeSystem-zuppl-eimpf-impfstoffe-4-dgc-medicinalproduct.4.fhir.json?inline=false">download FHIR R4 json</a></td><td><a target="_blank" rel="noopener noreferrer" href="https://gitlab.com/elga-gmbh/termgit/-/raw/13b4a122e06846546461acf2edf6dead658f359c/terminologies/ValueSet-dgc-medicinalproduct/CodeSystem-zuppl-eimpf-impfstoffe-4-dgc-medicinalproduct.4.fhir.json">raw FHIR R4 json (from GitLab)</a></td></tr>
</table>