<table class="grid">
<tr><td><a href="https://gitlab.com/elga-gmbh/termgit/-/raw/3547f697850fa9ed115b1f9e1d4ecb5f794246a0/terminologies/ValueSet-eimpf-specialcasevaccination/CodeSystem-zuppl-snomed-ct-auszug-4-eimpf-specialcasevaccinatio.4.fhir.json?inline=false">download FHIR R4 json</a></td><td><a target="_blank" rel="noopener noreferrer" href="https://gitlab.com/elga-gmbh/termgit/-/raw/3547f697850fa9ed115b1f9e1d4ecb5f794246a0/terminologies/ValueSet-eimpf-specialcasevaccination/CodeSystem-zuppl-snomed-ct-auszug-4-eimpf-specialcasevaccinatio.4.fhir.json">raw FHIR R4 json (from GitLab)</a></td></tr>
</table>