<table class="grid">
<tr><td><b>Publication Date</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>
<tr><td><a href="20220318-152035-CodeSystem-zuppl-hl7-role-code-4-elga-personalrelationship.html">2022-03-18 15:20:35</a></td><td><a onclick="createDiff('CodeSystem-zuppl-hl7-role-code-4-elga-personalrelationship.html', '20220318-152035-CodeSystem-zuppl-hl7-role-code-4-elga-personalrelationship.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>