<table class="grid">
<tr><td><b>Publication Date</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>
<tr><td><a href="20220202-122156-CodeSystem-zuppl-elga-formatcode-4-elga-formatcode.html">2022-02-02 12:21:56</a></td><td><a onclick="createDiff('CodeSystem-zuppl-elga-formatcode-4-elga-formatcode.html', '20220202-122156-CodeSystem-zuppl-elga-formatcode-4-elga-formatcode.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220202-200841-CodeSystem-zuppl-elga-formatcode-4-elga-formatcode.html">2022-02-02 20:08:41</a></td><td><a onclick="createDiff('CodeSystem-zuppl-elga-formatcode-4-elga-formatcode.html', '20220202-200841-CodeSystem-zuppl-elga-formatcode-4-elga-formatcode.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220211-073707-CodeSystem-zuppl-elga-formatcode-4-elga-formatcode.html">2022-02-11 07:37:07</a></td><td><a onclick="createDiff('CodeSystem-zuppl-elga-formatcode-4-elga-formatcode.html', '20220211-073707-CodeSystem-zuppl-elga-formatcode-4-elga-formatcode.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220214-120348-CodeSystem-zuppl-elga-formatcode-4-elga-formatcode.html">2022-02-14 12:03:48</a></td><td><a onclick="createDiff('CodeSystem-zuppl-elga-formatcode-4-elga-formatcode.html', '20220214-120348-CodeSystem-zuppl-elga-formatcode-4-elga-formatcode.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>