<table class="grid">
<tr><td><b>Publication Date</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>
<tr><td><a href="20220202-122156-CodeSystem-zuppl-elga-specimentype-ergaenzung-4-elga-specimentype.html">2022-02-02 12:21:56</a></td><td><a onclick="createDiff('CodeSystem-zuppl-elga-specimentype-ergaenzung-4-elga-specimentype.html', '20220202-122156-CodeSystem-zuppl-elga-specimentype-ergaenzung-4-elga-specimentype.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>