<table class="grid">
<tr><td><b>Publication Date</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>
<tr><td><a href="20220202-122156-CodeSystem-medikation-ages-wirkstoffe.html">2022-02-02 12:21:56</a></td><td><a onclick="createDiff('CodeSystem-medikation-ages-wirkstoffe.html', '20220202-122156-CodeSystem-medikation-ages-wirkstoffe.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220202-142407-CodeSystem-medikation-ages-wirkstoffe.html">2022-02-02 14:24:07</a></td><td><a onclick="createDiff('CodeSystem-medikation-ages-wirkstoffe.html', '20220202-142407-CodeSystem-medikation-ages-wirkstoffe.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220224-135236-CodeSystem-medikation-ages-wirkstoffe.html">2022-02-24 13:52:36</a></td><td><a onclick="createDiff('CodeSystem-medikation-ages-wirkstoffe.html', '20220224-135236-CodeSystem-medikation-ages-wirkstoffe.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220311-082001-CodeSystem-medikation-ages-wirkstoffe.html">2022-03-11 08:20:01</a></td><td><a onclick="createDiff('CodeSystem-medikation-ages-wirkstoffe.html', '20220311-082001-CodeSystem-medikation-ages-wirkstoffe.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220330-070709-CodeSystem-medikation-ages-wirkstoffe.html">2022-03-30 07:07:09</a></td><td><a onclick="createDiff('CodeSystem-medikation-ages-wirkstoffe.html', '20220330-070709-CodeSystem-medikation-ages-wirkstoffe.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220420-164001-CodeSystem-medikation-ages-wirkstoffe.html">2022-04-20 16:40:01</a></td><td><a onclick="createDiff('CodeSystem-medikation-ages-wirkstoffe.html', '20220420-164001-CodeSystem-medikation-ages-wirkstoffe.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220428-113910-CodeSystem-medikation-ages-wirkstoffe.html">2022-04-28 11:39:10</a></td><td><a onclick="createDiff('CodeSystem-medikation-ages-wirkstoffe.html', '20220428-113910-CodeSystem-medikation-ages-wirkstoffe.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220505-120719-CodeSystem-medikation-ages-wirkstoffe.html">2022-05-05 12:07:19</a></td><td><a onclick="createDiff('CodeSystem-medikation-ages-wirkstoffe.html', '20220505-120719-CodeSystem-medikation-ages-wirkstoffe.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220510-124828-CodeSystem-medikation-ages-wirkstoffe.html">2022-05-10 12:48:28</a></td><td><a onclick="createDiff('CodeSystem-medikation-ages-wirkstoffe.html', '20220510-124828-CodeSystem-medikation-ages-wirkstoffe.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>