<table class="grid">
<tr><td><a href="https://gitlab.com/elga-gmbh/termgit/-/raw/bb365d1081371dedc349031c771c462959bd08a0/terminologies/ValueSet-eimpf-antikoerperbestimmung/CodeSystem-zuppl-loinc-4-eimpf-antikoerperbestimmung.4.fhir.json?inline=false">download FHIR R4 json</a></td><td><a target="_blank" rel="noopener noreferrer" href="https://gitlab.com/elga-gmbh/termgit/-/raw/bb365d1081371dedc349031c771c462959bd08a0/terminologies/ValueSet-eimpf-antikoerperbestimmung/CodeSystem-zuppl-loinc-4-eimpf-antikoerperbestimmung.4.fhir.json">raw FHIR R4 json (from GitLab)</a></td></tr>
</table>