<table class="grid">
<tr><td><a href="https://gitlab.com/elga-gmbh/termgit/-/raw/59912629188d999f6b01aeb3f25705674c912f6f/terminologies/ValueSet-elga-dokumentenklassen/CodeSystem-zuppl-loinc-4-elga-dokumentenklassen.4.fhir.json?inline=false">download FHIR R4 json</a></td><td><a target="_blank" rel="noopener noreferrer" href="https://gitlab.com/elga-gmbh/termgit/-/raw/59912629188d999f6b01aeb3f25705674c912f6f/terminologies/ValueSet-elga-dokumentenklassen/CodeSystem-zuppl-loinc-4-elga-dokumentenklassen.4.fhir.json">raw FHIR R4 json (from GitLab)</a></td></tr>
</table>