<table class="grid">
<tr><td><a href="https://gitlab.com/elga-gmbh/termgit/-/raw/40d5b499ba4fa2c2bb1731136ce5ef9af3c2ef7b/terminologies/ValueSet-eimpf-impfschema/CodeSystem-zuppl-eimpf-ergaenzung-4-eimpf-impfschema.4.fhir.json?inline=false">download FHIR R4 json</a></td><td><a target="_blank" rel="noopener noreferrer" href="https://gitlab.com/elga-gmbh/termgit/-/raw/40d5b499ba4fa2c2bb1731136ce5ef9af3c2ef7b/terminologies/ValueSet-eimpf-impfschema/CodeSystem-zuppl-eimpf-ergaenzung-4-eimpf-impfschema.4.fhir.json">raw FHIR R4 json (from GitLab)</a></td></tr>
</table>