<table class="grid">
<tr><td><a href="https://gitlab.com/elga-gmbh/termgit/-/raw/bba74038ae9a62d448647c72953020a3e0ee3c34/terminologies/ValueSet-elga-formatcode/CodeSystem-zuppl-elga-formatcode-4-elga-formatcode.4.fhir.json?inline=false">download FHIR R4 json</a></td><td><a target="_blank" rel="noopener noreferrer" href="https://gitlab.com/elga-gmbh/termgit/-/raw/bba74038ae9a62d448647c72953020a3e0ee3c34/terminologies/ValueSet-elga-formatcode/CodeSystem-zuppl-elga-formatcode-4-elga-formatcode.4.fhir.json">raw FHIR R4 json (from GitLab)</a></td></tr>
</table>