<table class="grid">
<tr><td><b>Publication Date</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>
<tr><td><a href="20220202-122156-CodeSystem-eimpf-schemamatrix.html">2022-02-02 12:21:56</a></td><td><a onclick="createDiff('CodeSystem-eimpf-schemamatrix.html', '20220202-122156-CodeSystem-eimpf-schemamatrix.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220202-142407-CodeSystem-eimpf-schemamatrix.html">2022-02-02 14:24:07</a></td><td><a onclick="createDiff('CodeSystem-eimpf-schemamatrix.html', '20220202-142407-CodeSystem-eimpf-schemamatrix.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220202-200841-CodeSystem-eimpf-schemamatrix.html">2022-02-02 20:08:41</a></td><td><a onclick="createDiff('CodeSystem-eimpf-schemamatrix.html', '20220202-200841-CodeSystem-eimpf-schemamatrix.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220203-170002-CodeSystem-eimpf-schemamatrix.html">2022-02-03 17:00:02</a></td><td><a onclick="createDiff('CodeSystem-eimpf-schemamatrix.html', '20220203-170002-CodeSystem-eimpf-schemamatrix.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220211-073707-CodeSystem-eimpf-schemamatrix.html">2022-02-11 07:37:07</a></td><td><a onclick="createDiff('CodeSystem-eimpf-schemamatrix.html', '20220211-073707-CodeSystem-eimpf-schemamatrix.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220218-121913-CodeSystem-eimpf-schemamatrix.html">2022-02-18 12:19:13</a></td><td><a onclick="createDiff('CodeSystem-eimpf-schemamatrix.html', '20220218-121913-CodeSystem-eimpf-schemamatrix.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220301-083138-CodeSystem-eimpf-schemamatrix.html">2022-03-01 08:31:38</a></td><td><a onclick="createDiff('CodeSystem-eimpf-schemamatrix.html', '20220301-083138-CodeSystem-eimpf-schemamatrix.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220304-115419-CodeSystem-eimpf-schemamatrix.html">2022-03-04 11:54:19</a></td><td><a onclick="createDiff('CodeSystem-eimpf-schemamatrix.html', '20220304-115419-CodeSystem-eimpf-schemamatrix.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220311-082001-CodeSystem-eimpf-schemamatrix.html">2022-03-11 08:20:01</a></td><td><a onclick="createDiff('CodeSystem-eimpf-schemamatrix.html', '20220311-082001-CodeSystem-eimpf-schemamatrix.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220315-163833-CodeSystem-eimpf-schemamatrix.html">2022-03-15 16:38:33</a></td><td><a onclick="createDiff('CodeSystem-eimpf-schemamatrix.html', '20220315-163833-CodeSystem-eimpf-schemamatrix.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220318-140037-CodeSystem-eimpf-schemamatrix.html">2022-03-18 14:00:37</a></td><td><a onclick="createDiff('CodeSystem-eimpf-schemamatrix.html', '20220318-140037-CodeSystem-eimpf-schemamatrix.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220331-103221-CodeSystem-eimpf-schemamatrix.html">2022-03-31 10:32:21</a></td><td><a onclick="createDiff('CodeSystem-eimpf-schemamatrix.html', '20220331-103221-CodeSystem-eimpf-schemamatrix.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220411-134554-CodeSystem-eimpf-schemamatrix.html">2022-04-11 13:45:54</a></td><td><a onclick="createDiff('CodeSystem-eimpf-schemamatrix.html', '20220411-134554-CodeSystem-eimpf-schemamatrix.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220420-164001-CodeSystem-eimpf-schemamatrix.html">2022-04-20 16:40:01</a></td><td><a onclick="createDiff('CodeSystem-eimpf-schemamatrix.html', '20220420-164001-CodeSystem-eimpf-schemamatrix.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220421-164248-CodeSystem-eimpf-schemamatrix.html">2022-04-21 16:42:48</a></td><td><a onclick="createDiff('CodeSystem-eimpf-schemamatrix.html', '20220421-164248-CodeSystem-eimpf-schemamatrix.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220504-101325-CodeSystem-eimpf-schemamatrix.html">2022-05-04 10:13:25</a></td><td><a onclick="createDiff('CodeSystem-eimpf-schemamatrix.html', '20220504-101325-CodeSystem-eimpf-schemamatrix.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220510-124828-CodeSystem-eimpf-schemamatrix.html">2022-05-10 12:48:28</a></td><td><a onclick="createDiff('CodeSystem-eimpf-schemamatrix.html', '20220510-124828-CodeSystem-eimpf-schemamatrix.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>