<table class="grid">
<tr><td><b>Publication Date</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>
<tr><td><a href="20220202-122156-CodeSystem-zuppl-eimpf-ergaenzung-4-eimpf-impfschema.html">2022-02-02 12:21:56</a></td><td><a onclick="createDiff('CodeSystem-zuppl-eimpf-ergaenzung-4-eimpf-impfschema.html', '20220202-122156-CodeSystem-zuppl-eimpf-ergaenzung-4-eimpf-impfschema.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220202-142407-CodeSystem-zuppl-eimpf-ergaenzung-4-eimpf-impfschema.html">2022-02-02 14:24:07</a></td><td><a onclick="createDiff('CodeSystem-zuppl-eimpf-ergaenzung-4-eimpf-impfschema.html', '20220202-142407-CodeSystem-zuppl-eimpf-ergaenzung-4-eimpf-impfschema.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220203-170002-CodeSystem-zuppl-eimpf-ergaenzung-4-eimpf-impfschema.html">2022-02-03 17:00:02</a></td><td><a onclick="createDiff('CodeSystem-zuppl-eimpf-ergaenzung-4-eimpf-impfschema.html', '20220203-170002-CodeSystem-zuppl-eimpf-ergaenzung-4-eimpf-impfschema.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220216-150122-CodeSystem-zuppl-eimpf-ergaenzung-4-eimpf-impfschema.html">2022-02-16 15:01:22</a></td><td><a onclick="createDiff('CodeSystem-zuppl-eimpf-ergaenzung-4-eimpf-impfschema.html', '20220216-150122-CodeSystem-zuppl-eimpf-ergaenzung-4-eimpf-impfschema.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220221-132304-CodeSystem-zuppl-eimpf-ergaenzung-4-eimpf-impfschema.html">2022-02-21 13:23:04</a></td><td><a onclick="createDiff('CodeSystem-zuppl-eimpf-ergaenzung-4-eimpf-impfschema.html', '20220221-132304-CodeSystem-zuppl-eimpf-ergaenzung-4-eimpf-impfschema.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220301-165055-CodeSystem-zuppl-eimpf-ergaenzung-4-eimpf-impfschema.html">2022-03-01 16:50:55</a></td><td><a onclick="createDiff('CodeSystem-zuppl-eimpf-ergaenzung-4-eimpf-impfschema.html', '20220301-165055-CodeSystem-zuppl-eimpf-ergaenzung-4-eimpf-impfschema.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220307-144421-CodeSystem-zuppl-eimpf-ergaenzung-4-eimpf-impfschema.html">2022-03-07 14:44:21</a></td><td><a onclick="createDiff('CodeSystem-zuppl-eimpf-ergaenzung-4-eimpf-impfschema.html', '20220307-144421-CodeSystem-zuppl-eimpf-ergaenzung-4-eimpf-impfschema.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220315-163833-CodeSystem-zuppl-eimpf-ergaenzung-4-eimpf-impfschema.html">2022-03-15 16:38:33</a></td><td><a onclick="createDiff('CodeSystem-zuppl-eimpf-ergaenzung-4-eimpf-impfschema.html', '20220315-163833-CodeSystem-zuppl-eimpf-ergaenzung-4-eimpf-impfschema.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220318-152035-CodeSystem-zuppl-eimpf-ergaenzung-4-eimpf-impfschema.html">2022-03-18 15:20:35</a></td><td><a onclick="createDiff('CodeSystem-zuppl-eimpf-ergaenzung-4-eimpf-impfschema.html', '20220318-152035-CodeSystem-zuppl-eimpf-ergaenzung-4-eimpf-impfschema.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220331-103221-CodeSystem-zuppl-eimpf-ergaenzung-4-eimpf-impfschema.html">2022-03-31 10:32:21</a></td><td><a onclick="createDiff('CodeSystem-zuppl-eimpf-ergaenzung-4-eimpf-impfschema.html', '20220331-103221-CodeSystem-zuppl-eimpf-ergaenzung-4-eimpf-impfschema.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>