<table class="grid">
<tr><td><a href="https://gitlab.com/elga-gmbh/termgit/-/raw/8b9fb843b0185af4252d0eaa277b66afef3b1906/terminologies/ValueSet-elga-auditsourcetype/CodeSystem-zuppl-elga-auditsourcetype-4-elga-auditsourcetype.4.fhir.json?inline=false">download FHIR R4 json</a></td><td><a target="_blank" rel="noopener noreferrer" href="https://gitlab.com/elga-gmbh/termgit/-/raw/8b9fb843b0185af4252d0eaa277b66afef3b1906/terminologies/ValueSet-elga-auditsourcetype/CodeSystem-zuppl-elga-auditsourcetype-4-elga-auditsourcetype.4.fhir.json">raw FHIR R4 json (from GitLab)</a></td></tr>
</table>