<table class="grid">
<tr><td><a href="https://gitlab.com/elga-gmbh/termgit/-/raw/479265cc4a942a5b3cf7ca52989ebd9864f7da60/terminologies/ValueSet-ems-hcv-core-ag-assay/CodeSystem-zuppl-ems-posneg-4-ems-hcv-core-ag-assay.4.fhir.json?inline=false">download FHIR R4 json</a></td><td><a target="_blank" rel="noopener noreferrer" href="https://gitlab.com/elga-gmbh/termgit/-/raw/479265cc4a942a5b3cf7ca52989ebd9864f7da60/terminologies/ValueSet-ems-hcv-core-ag-assay/CodeSystem-zuppl-ems-posneg-4-ems-hcv-core-ag-assay.4.fhir.json">raw FHIR R4 json (from GitLab)</a></td></tr>
</table>