<table class="grid">
<tr><td><b>Publication Date</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>
<tr><td><a href="20220202-122156-CodeSystem-eimpf-ergaenzung.html">2022-02-02 12:21:56</a></td><td><a onclick="createDiff('CodeSystem-eimpf-ergaenzung.html', '20220202-122156-CodeSystem-eimpf-ergaenzung.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220202-142407-CodeSystem-eimpf-ergaenzung.html">2022-02-02 14:24:07</a></td><td><a onclick="createDiff('CodeSystem-eimpf-ergaenzung.html', '20220202-142407-CodeSystem-eimpf-ergaenzung.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220203-120822-CodeSystem-eimpf-ergaenzung.html">2022-02-03 12:08:22</a></td><td><a onclick="createDiff('CodeSystem-eimpf-ergaenzung.html', '20220203-120822-CodeSystem-eimpf-ergaenzung.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220203-170002-CodeSystem-eimpf-ergaenzung.html">2022-02-03 17:00:02</a></td><td><a onclick="createDiff('CodeSystem-eimpf-ergaenzung.html', '20220203-170002-CodeSystem-eimpf-ergaenzung.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220216-150122-CodeSystem-eimpf-ergaenzung.html">2022-02-16 15:01:22</a></td><td><a onclick="createDiff('CodeSystem-eimpf-ergaenzung.html', '20220216-150122-CodeSystem-eimpf-ergaenzung.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220221-132304-CodeSystem-eimpf-ergaenzung.html">2022-02-21 13:23:04</a></td><td><a onclick="createDiff('CodeSystem-eimpf-ergaenzung.html', '20220221-132304-CodeSystem-eimpf-ergaenzung.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220301-165055-CodeSystem-eimpf-ergaenzung.html">2022-03-01 16:50:55</a></td><td><a onclick="createDiff('CodeSystem-eimpf-ergaenzung.html', '20220301-165055-CodeSystem-eimpf-ergaenzung.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220307-144421-CodeSystem-eimpf-ergaenzung.html">2022-03-07 14:44:21</a></td><td><a onclick="createDiff('CodeSystem-eimpf-ergaenzung.html', '20220307-144421-CodeSystem-eimpf-ergaenzung.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220311-082001-CodeSystem-eimpf-ergaenzung.html">2022-03-11 08:20:01</a></td><td><a onclick="createDiff('CodeSystem-eimpf-ergaenzung.html', '20220311-082001-CodeSystem-eimpf-ergaenzung.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220315-163833-CodeSystem-eimpf-ergaenzung.html">2022-03-15 16:38:33</a></td><td><a onclick="createDiff('CodeSystem-eimpf-ergaenzung.html', '20220315-163833-CodeSystem-eimpf-ergaenzung.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220318-140037-CodeSystem-eimpf-ergaenzung.html">2022-03-18 14:00:37</a></td><td><a onclick="createDiff('CodeSystem-eimpf-ergaenzung.html', '20220318-140037-CodeSystem-eimpf-ergaenzung.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220318-152035-CodeSystem-eimpf-ergaenzung.html">2022-03-18 15:20:35</a></td><td><a onclick="createDiff('CodeSystem-eimpf-ergaenzung.html', '20220318-152035-CodeSystem-eimpf-ergaenzung.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220331-103221-CodeSystem-eimpf-ergaenzung.html">2022-03-31 10:32:21</a></td><td><a onclick="createDiff('CodeSystem-eimpf-ergaenzung.html', '20220331-103221-CodeSystem-eimpf-ergaenzung.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220420-164001-CodeSystem-eimpf-ergaenzung.html">2022-04-20 16:40:01</a></td><td><a onclick="createDiff('CodeSystem-eimpf-ergaenzung.html', '20220420-164001-CodeSystem-eimpf-ergaenzung.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220421-164248-CodeSystem-eimpf-ergaenzung.html">2022-04-21 16:42:48</a></td><td><a onclick="createDiff('CodeSystem-eimpf-ergaenzung.html', '20220421-164248-CodeSystem-eimpf-ergaenzung.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220428-131525-CodeSystem-eimpf-ergaenzung.html">2022-04-28 13:15:25</a></td><td><a onclick="createDiff('CodeSystem-eimpf-ergaenzung.html', '20220428-131525-CodeSystem-eimpf-ergaenzung.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220502-061404-CodeSystem-eimpf-ergaenzung.html">2022-05-02 06:14:04</a></td><td><a onclick="createDiff('CodeSystem-eimpf-ergaenzung.html', '20220502-061404-CodeSystem-eimpf-ergaenzung.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220510-124828-CodeSystem-eimpf-ergaenzung.html">2022-05-10 12:48:28</a></td><td><a onclick="createDiff('CodeSystem-eimpf-ergaenzung.html', '20220510-124828-CodeSystem-eimpf-ergaenzung.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220516-123916-CodeSystem-eimpf-ergaenzung.html">2022-05-16 12:39:16</a></td><td><a onclick="createDiff('CodeSystem-eimpf-ergaenzung.html', '20220516-123916-CodeSystem-eimpf-ergaenzung.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>