<table class="grid">
<tr><td><a href="https://gitlab.com/elga-gmbh/termgit/-/raw/951682b607ada0df5c38d50d947480298ec008b7/terminologies/ValueSet-appc-anatomie/CodeSystem-zuppl-appc-anatomie-4-appc-anatomie.4.fhir.json?inline=false">download FHIR R4 json</a></td><td><a target="_blank" rel="noopener noreferrer" href="https://gitlab.com/elga-gmbh/termgit/-/raw/951682b607ada0df5c38d50d947480298ec008b7/terminologies/ValueSet-appc-anatomie/CodeSystem-zuppl-appc-anatomie-4-appc-anatomie.4.fhir.json">raw FHIR R4 json (from GitLab)</a></td></tr>
</table>