<table class="grid">
<tr><td><a href="https://gitlab.com/elga-gmbh/termgit/-/raw/f7c32e7ae8a561df558bb789410e52c1b62b1d8b/terminologies/ValueSet-elga-sectionsserviceevents/CodeSystem-zuppl-elga-sections-4-elga-sectionsserviceevents.4.fhir.json?inline=false">download FHIR R4 json</a></td><td><a target="_blank" rel="noopener noreferrer" href="https://gitlab.com/elga-gmbh/termgit/-/raw/f7c32e7ae8a561df558bb789410e52c1b62b1d8b/terminologies/ValueSet-elga-sectionsserviceevents/CodeSystem-zuppl-elga-sections-4-elga-sectionsserviceevents.4.fhir.json">raw FHIR R4 json (from GitLab)</a></td></tr>
</table>