<table class="grid">
<tr><td><b>Publication Date</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>
<tr><td><a href="20220202-200841-CodeSystem-zuppl-snomed-ct-auszug-4-elga-mikroorganismen.html">2022-02-02 20:08:41</a></td><td><a onclick="createDiff('CodeSystem-zuppl-snomed-ct-auszug-4-elga-mikroorganismen.html', '20220202-200841-CodeSystem-zuppl-snomed-ct-auszug-4-elga-mikroorganismen.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>