<table class="grid">
<tr><td><b>Publication Date</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>
<tr><td><a href="20220202-122156-CodeSystem-dgc-qr.html">2022-02-02 12:21:56</a></td><td><a onclick="createDiff('CodeSystem-dgc-qr.html', '20220202-122156-CodeSystem-dgc-qr.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220202-142407-CodeSystem-dgc-qr.html">2022-02-02 14:24:07</a></td><td><a onclick="createDiff('CodeSystem-dgc-qr.html', '20220202-142407-CodeSystem-dgc-qr.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220202-200841-CodeSystem-dgc-qr.html">2022-02-02 20:08:41</a></td><td><a onclick="createDiff('CodeSystem-dgc-qr.html', '20220202-200841-CodeSystem-dgc-qr.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220202-203217-CodeSystem-dgc-qr.html">2022-02-02 20:32:17</a></td><td><a onclick="createDiff('CodeSystem-dgc-qr.html', '20220202-203217-CodeSystem-dgc-qr.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220203-120822-CodeSystem-dgc-qr.html">2022-02-03 12:08:22</a></td><td><a onclick="createDiff('CodeSystem-dgc-qr.html', '20220203-120822-CodeSystem-dgc-qr.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220214-075155-CodeSystem-dgc-qr.html">2022-02-14 07:51:55</a></td><td><a onclick="createDiff('CodeSystem-dgc-qr.html', '20220214-075155-CodeSystem-dgc-qr.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220216-150122-CodeSystem-dgc-qr.html">2022-02-16 15:01:22</a></td><td><a onclick="createDiff('CodeSystem-dgc-qr.html', '20220216-150122-CodeSystem-dgc-qr.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220307-144421-CodeSystem-dgc-qr.html">2022-03-07 14:44:21</a></td><td><a onclick="createDiff('CodeSystem-dgc-qr.html', '20220307-144421-CodeSystem-dgc-qr.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220311-082001-CodeSystem-dgc-qr.html">2022-03-11 08:20:01</a></td><td><a onclick="createDiff('CodeSystem-dgc-qr.html', '20220311-082001-CodeSystem-dgc-qr.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220411-134554-CodeSystem-dgc-qr.html">2022-04-11 13:45:54</a></td><td><a onclick="createDiff('CodeSystem-dgc-qr.html', '20220411-134554-CodeSystem-dgc-qr.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220420-164001-CodeSystem-dgc-qr.html">2022-04-20 16:40:01</a></td><td><a onclick="createDiff('CodeSystem-dgc-qr.html', '20220420-164001-CodeSystem-dgc-qr.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220506-082353-CodeSystem-dgc-qr.html">2022-05-06 08:23:53</a></td><td><a onclick="createDiff('CodeSystem-dgc-qr.html', '20220506-082353-CodeSystem-dgc-qr.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220510-124828-CodeSystem-dgc-qr.html">2022-05-10 12:48:28</a></td><td><a onclick="createDiff('CodeSystem-dgc-qr.html', '20220510-124828-CodeSystem-dgc-qr.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>