<table class="grid">
<tr><td><b>Publication Date</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>
<tr><td><a href="20220202-122156-CodeSystem-zuppl-medikationdarreichungsform-4-elga-medikationdarreichungs.html">2022-02-02 12:21:56</a></td><td><a onclick="createDiff('CodeSystem-zuppl-medikationdarreichungsform-4-elga-medikationdarreichungs.html', '20220202-122156-CodeSystem-zuppl-medikationdarreichungsform-4-elga-medikationdarreichungs.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220202-142407-CodeSystem-zuppl-medikationdarreichungsform-4-elga-medikationdarreichungs.html">2022-02-02 14:24:07</a></td><td><a onclick="createDiff('CodeSystem-zuppl-medikationdarreichungsform-4-elga-medikationdarreichungs.html', '20220202-142407-CodeSystem-zuppl-medikationdarreichungsform-4-elga-medikationdarreichungs.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220330-070709-CodeSystem-zuppl-medikationdarreichungsform-4-elga-medikationdarreichungs.html">2022-03-30 07:07:09</a></td><td><a onclick="createDiff('CodeSystem-zuppl-medikationdarreichungsform-4-elga-medikationdarreichungs.html', '20220330-070709-CodeSystem-zuppl-medikationdarreichungsform-4-elga-medikationdarreichungs.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>