<table class="grid">
<tr><td><b>Publication Date</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>
<tr><td><a href="20220202-122156-CodeSystem-asp-liste.html">2022-02-02 12:21:56</a></td><td><a onclick="createDiff('CodeSystem-asp-liste.html', '20220202-122156-CodeSystem-asp-liste.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220224-135236-CodeSystem-asp-liste.html">2022-02-24 13:52:36</a></td><td><a onclick="createDiff('CodeSystem-asp-liste.html', '20220224-135236-CodeSystem-asp-liste.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220311-082001-CodeSystem-asp-liste.html">2022-03-11 08:20:01</a></td><td><a onclick="createDiff('CodeSystem-asp-liste.html', '20220311-082001-CodeSystem-asp-liste.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220330-070709-CodeSystem-asp-liste.html">2022-03-30 07:07:09</a></td><td><a onclick="createDiff('CodeSystem-asp-liste.html', '20220330-070709-CodeSystem-asp-liste.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220413-112208-CodeSystem-asp-liste.html">2022-04-13 11:22:08</a></td><td><a onclick="createDiff('CodeSystem-asp-liste.html', '20220413-112208-CodeSystem-asp-liste.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220420-164001-CodeSystem-asp-liste.html">2022-04-20 16:40:01</a></td><td><a onclick="createDiff('CodeSystem-asp-liste.html', '20220420-164001-CodeSystem-asp-liste.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220422-132728-CodeSystem-asp-liste.html">2022-04-22 13:27:28</a></td><td><a onclick="createDiff('CodeSystem-asp-liste.html', '20220422-132728-CodeSystem-asp-liste.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220510-124828-CodeSystem-asp-liste.html">2022-05-10 12:48:28</a></td><td><a onclick="createDiff('CodeSystem-asp-liste.html', '20220510-124828-CodeSystem-asp-liste.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>