<table class="grid">
<tr><td><a href="https://gitlab.com/elga-gmbh/termgit/-/raw/7969f494fa02ccd8c99c7004411f18548a407f3c/terminologies/ValueSet-elga-mikroorganismen/CodeSystem-zuppl-snomed-ct-auszug-4-elga-mikroorganismen.4.fhir.json?inline=false">download FHIR R4 json</a></td><td><a target="_blank" rel="noopener noreferrer" href="https://gitlab.com/elga-gmbh/termgit/-/raw/7969f494fa02ccd8c99c7004411f18548a407f3c/terminologies/ValueSet-elga-mikroorganismen/CodeSystem-zuppl-snomed-ct-auszug-4-elga-mikroorganismen.4.fhir.json">raw FHIR R4 json (from GitLab)</a></td></tr>
</table>