<table class="grid">
<tr><td><a href="https://gitlab.com/elga-gmbh/termgit/-/raw/1554a4ccc7cb96b97d3e92fc7b20f5cb463252df/terminologies/ValueSet-elga-wirkstoffe-ages/CodeSystem-zuppl-medikation-ages-wirkstoffe-4-elga-wirkstoffe-ages.4.fhir.json?inline=false">download FHIR R4 json</a></td><td><a target="_blank" rel="noopener noreferrer" href="https://gitlab.com/elga-gmbh/termgit/-/raw/1554a4ccc7cb96b97d3e92fc7b20f5cb463252df/terminologies/ValueSet-elga-wirkstoffe-ages/CodeSystem-zuppl-medikation-ages-wirkstoffe-4-elga-wirkstoffe-ages.4.fhir.json">raw FHIR R4 json (from GitLab)</a></td></tr>
</table>