<table class="grid">
<tr><td><b>Publication Date</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>
<tr><td><a href="20220202-122156-CodeSystem-zuppl-dgc-ratnamemanufacturer-4-dgc-ratnamemanufacturer.html">2022-02-02 12:21:56</a></td><td><a onclick="createDiff('CodeSystem-zuppl-dgc-ratnamemanufacturer-4-dgc-ratnamemanufacturer.html', '20220202-122156-CodeSystem-zuppl-dgc-ratnamemanufacturer-4-dgc-ratnamemanufacturer.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220202-142407-CodeSystem-zuppl-dgc-ratnamemanufacturer-4-dgc-ratnamemanufacturer.html">2022-02-02 14:24:07</a></td><td><a onclick="createDiff('CodeSystem-zuppl-dgc-ratnamemanufacturer-4-dgc-ratnamemanufacturer.html', '20220202-142407-CodeSystem-zuppl-dgc-ratnamemanufacturer-4-dgc-ratnamemanufacturer.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220203-120822-CodeSystem-zuppl-dgc-ratnamemanufacturer-4-dgc-ratnamemanufacturer.html">2022-02-03 12:08:22</a></td><td><a onclick="createDiff('CodeSystem-zuppl-dgc-ratnamemanufacturer-4-dgc-ratnamemanufacturer.html', '20220203-120822-CodeSystem-zuppl-dgc-ratnamemanufacturer-4-dgc-ratnamemanufacturer.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220214-075155-CodeSystem-zuppl-dgc-ratnamemanufacturer-4-dgc-ratnamemanufacturer.html">2022-02-14 07:51:55</a></td><td><a onclick="createDiff('CodeSystem-zuppl-dgc-ratnamemanufacturer-4-dgc-ratnamemanufacturer.html', '20220214-075155-CodeSystem-zuppl-dgc-ratnamemanufacturer-4-dgc-ratnamemanufacturer.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220216-150122-CodeSystem-zuppl-dgc-ratnamemanufacturer-4-dgc-ratnamemanufacturer.html">2022-02-16 15:01:22</a></td><td><a onclick="createDiff('CodeSystem-zuppl-dgc-ratnamemanufacturer-4-dgc-ratnamemanufacturer.html', '20220216-150122-CodeSystem-zuppl-dgc-ratnamemanufacturer-4-dgc-ratnamemanufacturer.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220307-144421-CodeSystem-zuppl-dgc-ratnamemanufacturer-4-dgc-ratnamemanufacturer.html">2022-03-07 14:44:21</a></td><td><a onclick="createDiff('CodeSystem-zuppl-dgc-ratnamemanufacturer-4-dgc-ratnamemanufacturer.html', '20220307-144421-CodeSystem-zuppl-dgc-ratnamemanufacturer-4-dgc-ratnamemanufacturer.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220411-134554-CodeSystem-zuppl-dgc-ratnamemanufacturer-4-dgc-ratnamemanufacturer.html">2022-04-11 13:45:54</a></td><td><a onclick="createDiff('CodeSystem-zuppl-dgc-ratnamemanufacturer-4-dgc-ratnamemanufacturer.html', '20220411-134554-CodeSystem-zuppl-dgc-ratnamemanufacturer-4-dgc-ratnamemanufacturer.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>