<table class="grid">
<tr><td><b>Publication Date</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>
<tr><td><a href="20220202-122156-ValueSet-eimpf-impfschema.html">2022-02-02 12:21:56</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfschema.html', '20220202-122156-ValueSet-eimpf-impfschema.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220202-142407-ValueSet-eimpf-impfschema.html">2022-02-02 14:24:07</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfschema.html', '20220202-142407-ValueSet-eimpf-impfschema.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220203-170002-ValueSet-eimpf-impfschema.html">2022-02-03 17:00:02</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfschema.html', '20220203-170002-ValueSet-eimpf-impfschema.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220216-150122-ValueSet-eimpf-impfschema.html">2022-02-16 15:01:22</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfschema.html', '20220216-150122-ValueSet-eimpf-impfschema.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220221-132304-ValueSet-eimpf-impfschema.html">2022-02-21 13:23:04</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfschema.html', '20220221-132304-ValueSet-eimpf-impfschema.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220301-165055-ValueSet-eimpf-impfschema.html">2022-03-01 16:50:55</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfschema.html', '20220301-165055-ValueSet-eimpf-impfschema.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220307-144421-ValueSet-eimpf-impfschema.html">2022-03-07 14:44:21</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfschema.html', '20220307-144421-ValueSet-eimpf-impfschema.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220311-082001-ValueSet-eimpf-impfschema.html">2022-03-11 08:20:01</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfschema.html', '20220311-082001-ValueSet-eimpf-impfschema.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220315-163833-ValueSet-eimpf-impfschema.html">2022-03-15 16:38:33</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfschema.html', '20220315-163833-ValueSet-eimpf-impfschema.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220318-140037-ValueSet-eimpf-impfschema.html">2022-03-18 14:00:37</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfschema.html', '20220318-140037-ValueSet-eimpf-impfschema.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220318-152035-ValueSet-eimpf-impfschema.html">2022-03-18 15:20:35</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfschema.html', '20220318-152035-ValueSet-eimpf-impfschema.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220331-103221-ValueSet-eimpf-impfschema.html">2022-03-31 10:32:21</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfschema.html', '20220331-103221-ValueSet-eimpf-impfschema.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220420-164001-ValueSet-eimpf-impfschema.html">2022-04-20 16:40:01</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfschema.html', '20220420-164001-ValueSet-eimpf-impfschema.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220421-164248-ValueSet-eimpf-impfschema.html">2022-04-21 16:42:48</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfschema.html', '20220421-164248-ValueSet-eimpf-impfschema.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220428-131525-ValueSet-eimpf-impfschema.html">2022-04-28 13:15:25</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfschema.html', '20220428-131525-ValueSet-eimpf-impfschema.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220502-061404-ValueSet-eimpf-impfschema.html">2022-05-02 06:14:04</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfschema.html', '20220502-061404-ValueSet-eimpf-impfschema.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220510-124828-ValueSet-eimpf-impfschema.html">2022-05-10 12:48:28</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfschema.html', '20220510-124828-ValueSet-eimpf-impfschema.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220516-123916-ValueSet-eimpf-impfschema.html">2022-05-16 12:39:16</a></td><td><a onclick="createDiff('ValueSet-eimpf-impfschema.html', '20220516-123916-ValueSet-eimpf-impfschema.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>